*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
header{
    width: 100%;
    
    .row{
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .logo{
            float: left;
            cursor: pointer;
            padding-bottom: 33px;
            padding-top: 32px;
            img{
                max-width: 100%;
                height: auto;
                
            }
        } 
        .search-cart{
            width: 75%;
            //height: 50px;
            float: right;
            margin-top: 36px;
            right: auto;
            //background: red;
            position: relative;
            padding-left: 15px;
            padding-right: 15px;
            
            .cart{
                width: 150px;
                height: 50px;
                background: #F47920;
                float: right;
                cursor: pointer;
                ul{
                    li{
                        a.cart-none{
                            font-size: 13px;
                            text-align: center;
                            color: white;
                            line-height: 50px;
                            display: inline-block;
                            height: 50%;
                            text-decoration: none;
                            width: 150px;
                            transition: 0.5s ease-in-out 0s;
                            span{
                                text-align: center;
                            }
                        }
                        div.drop-cart{
                            display: none;
                            position: absolute;
                            top: 50px;
                            left: 594px;
                            color: #333333;
                            width: 300px;
                            background: #fff;
                            box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
                            z-index: 100;
                            div.status{
                                background: #f5f5f5;
                                border-bottom: 1px solid #ddd;
                                padding: 15px;
                                font-size: 14px;
                                i{
                                    color: #F47920;
                                    font-size: 18px;
                                }
                                span{
                                    color: #333;
                                }
                            }
                            div.cart-item{
                                padding: 10px;
                                p{
                                    margin: 0 0 10px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                
            }
            .search{
                width: calc(100% - 130px - 155px);
                //width: 560px;
                position: relative;
                margin-left: 130px;
                input{
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    border-color: #f2f2f2;
                    border-style: solid;
                    background-color: #fff;
                    padding: 0 45px 0 20px;
                    background: #fff none repeat scroll 0 0;
                    color: rgba(68,68,68,0.5);
                    display: inline-block;
                    font-size: 12px;
                    box-shadow: none !important;
                    margin-right: 0;
                    padding: 0 45px 0 20px;
                    width: 100%;
                    outline: none;
                }
                .btn-search{
                    height: 50px;
                    background: transparent none repeat scroll 0 0;
                    border: 0 none!important;
                    box-shadow: none!important;
                    padding: 0;
                    position: absolute;
                    text-align: center;
                    top: -1px;
                    right: -1px;
                    width: 50px;
                    cursor: pointer;
                }
            }
        }
    }
    .header-top{
        height: 40px;
        background: #f2f2f2;
        position: relative;
        width: 100%;
        .container{
            width: 1170px;
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
            ul.menu{
                float: right;
                li{
                    float: left;
                    list-style: none;

                    &:first-child{
                        a{
                            border-left: 0px;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #999999;
                        text-transform: capitalize;
                        font-size: 12px;
                        margin: 14px 0 14px;
                        padding: 0 15px 1px;
                        display: inline-block;
                        line-height: 12px;
                        border-color: #d7d7d7;
                        border-style: solid;
                        border-width: 0 0 0 1px;
                        transition: all .3s ease-in-out;
                        &:hover{
                            color: #F47920;
                        }
                    }
                }
            }
        }
    }
    .menu-bot{
        //position: fixed;
        background: #444 none repeat scroll 0 0;
        //position: relative;
        top: 0px !important;
        width: 100%;
        clear: both;
        max-height: 50px;
        z-index: 1;
        .container{
            width: 1170px;
            //height: 50px;
            margin: 0px auto;
            padding-left: 15px;
            padding-right: 15px;
            .main-menu{
                margin-left: -15px;
                margin-right: -15px;
                .danh-muc-sach{
                    position: relative;
                    width: 25%;
                    //min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                    float: left;
                    .menu-doc-main{
                        position: relative;
                        margin-top: -10px;
                        
                        .tieu-de{
                            background: none repeat scroll 0 0 #F47920;
                            padding: 15px 19px;
                            text-align: left;
                            margin-bottom: 10px;
                            h3{
                                color: #fff;
                                display: block;
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 20px;
                                text-transform: uppercase;
                                em{
                                    display: none;
                                    float: right;
                                    font-size: 18px;
                                    line-height: 25px;
                                    cursor: pointer;
                                }
                            }
                        }

                        .menu-doc {
                            background-color: #fff;
                            border-style: solid;
                            border-width: 0px 1px 1px;
                            border-color: #f2f2f2;
                            left: 0;
                            top: 50px;
                            width: 99.3%;
                            position: absolute;
                            z-index: 999;
                            display: none;
                            ul{
                                position: relative;
                                width: 100%;
                                
                                list-style: none;

                                li{
                                    position: relative;
                                    text-align: left;
                                    text-transform: uppercase;
                                    padding: 4.5px 0px;
                                    &:hover>a{
                                        color: #F47920;
                                    }
                                    &:hover .submenu{
                                        display: block;
                                    }
                                    a{
                                        color: #444;
                                        display: block;
                                        font-size: 12px;
                                        padding: 0px 0px 0px 18px;
                                        text-transform: capitalize;
                                        line-height: 35px;
                                        text-decoration: none;
                                        transition: all 0.3s ease-in-out 0s;
                                        i{
                                            float: right;
                                            padding: 10px;
                                            font-size: 14px;
                                        }
                                    }
                                    ul.submenu{
                                        display: none;
                                        position: absolute;
                                        left: 100%;
                                        top: 0;
                                        z-index: 1001;
                                        width: 100%;
                                        background-color: #fff;
                                        border-left: 3px solid #F47920;
                                        border-top: 1px solid #f0f0f0;
                                        animation-duration: .6s;
                                        animation-fill-mode: both;
                                        box-shadow: 1px 1px #f0f0f0;
                                    }
                                }
                            }
                        }
                    }
                }
                .menu-ngang{
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    padding-left: 15px;
                    padding-right: 15px;
                    nav{
                        display: block;
                        //float: left;
                        width: 100%;
                        line-height: 50px;
                        //height: 50px;
                        
                        ul {
                            width: 100%;
                            //display: block;
                            list-style: none;
                            
                            li{
                                //display: block;
                                font-size: 12px;
                                text-transform: uppercase;
                                float: left;
                                text-align: left;
                                margin-right: 28px;
                                position: relative;
                                //height: 50px;
                                a{
                                    display: block;
                                    //line-height: 50px;
                                    text-decoration: none;
                                    transition: all 0.3s ease-in-out 0s;
                                    color: #fff;
                                }
                                &:first-child a{
                                    color:#F47920;
                                }
                                &:hover a{
                                    color: #F47920;
                                }
                                
                            }
                        }
                    }
                }
                .menu-ngang{
                    float: left;
                }
                .tel{
                    width: 16%;
                    display: inline-block;
                    padding-left: 0px;
                    line-height: 49px;
                    position: relative;
                    min-height: 1px;
                    margin-left: 19px;
                    
                    .tel-lv1{
                        background-color: #F47920;
                        color: #fff;

                        .tel-img{
                            float: left;
                            padding: 0 0 0 4px;

                            img{
                                vertical-align: middle;
                                max-width: 100%;
                            }
                        }
                        .tel-text{
                            width: 100%;
                            a{
                                color: #fff;
                                font-size: 14px;
                                font-weight: bold;
                                display: block;
                                line-height: 50px;
                                text-decoration: none;
                                display: inline-block;
                                width: 71%;
                            }
                        }
                    }
                }
            }
        }
    }
}
div.main{
    //width: 100%;
    .container{
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        clear: both;
        .side-menu-slide{
            margin-left: -15px;
            margin-right: -15px;
            
            .side-menu{
                width: 25%;
                //background-color: #999999;
                min-height: 1px;
                position: relative;
                padding-left: 15px;
                float: left;
                .side-menu-container{
                    border-style: solid;
                    border-width: 0 1px 1px;
                    border-color: #f2f2f2;
                    margin-top: -10px;
                    z-index: 99999;
                    ul{
                        list-style: none;

                        li{
                            position: relative;
                            text-align: left;
                            padding: 4.5px 0px;
                            background: #fff;
                            &:hover{
                                background: #F47920;
                                >a{
                                    color: #fff;
                                }
                                ul.submenu{
                                    display: block;
                                }
                            }
                            a{
                                color: #444;
                                display: block;
                                font-size: 12px;
                                font-weight: normal;
                                padding: 0px 0 0px 20px;
                                text-transform: capitalize;
                                line-height: 30px;
                                padding-right: 30px;
                                position: relative;
                                text-decoration: none;
                                transition: all 0.3s ease-in-out 0s;
                                i{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    height: 30px;
                                    width: 25px;
                                    text-align: center;
                                    line-height: 30px;
                                    font-size: 14px;
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                    display: inline-block;
                                }
                            }

                            ul.submenu{
                                display: none;
                                position: absolute;
                                left: 100%;
                                top: 0;
                                width: 100%;
                                background-color: #fff;
                                box-shadow: 1px 1px #f0f0f0;
                                border-left: 3px solid #F47920;
                                animation-duration: .6s;
                                animation-fill-mode: both;
                                z-index: 99;
                                li{
                                    position: relative;
                                    text-align: left;
                                    padding: 4.5px 0px;
                                }
                            }
                            
                        }
                    }
                }
            }
            
            .side-menu{
                float: left;
                padding-right: 15px;
            }
            .slide{
                float: left;
                width: 69%;
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                margin-top: 30px;
                margin-bottom: 15px;
                .silde-container{
                    width: 100%;
                    .slide-img{
                        //width: 848px;
                        img{
                            vertical-align: middle;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .container{
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .sidebar-item{
            margin-left: -15px;
            margin-right: -15px;
            .side{
                margin-top: 10px;
                width: 25%;
                float: left;
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 30px;
                /*
                .title{
                    
                    color: #444444;
                    font-size: 15px;
                    line-height: 25px;
                    margin: 0 0 20px;
                    padding: 11px 7px 11px 15px;
                    position: relative;
                    text-transform: uppercase;
                    font-weight: bold;
                    background: #f2f2f2;

                    a{
                        color: #444444;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out 0s;
                        text-transform: uppercase;
                    }

                    
                }*/
                .side-item-container{
                    margin-left: -15px;
                    margin-right: -15px;
                    .side-item{
                        margin: 0px 15px;
                        .item-thumb{
                            position: relative;
                            text-align: center;
                            border: 1px solid #f2f2f2;
                            padding: 25px 0px;
                            a{
                                max-width: 140px;
                                display: inline-block;
                                
                                img{
                                    width: 100%;
                                    box-shadow: -7px 7px 11px -3px #9e9e9e;
                                }
                            }
                        }
                    }

                    .item-info{
                        margin: 0px 15px;
                        .item-info-block{
                            padding: 10px 15px 0px;
                            border-style: solid;
                            border-width: 0 1px 1px;
                            border-color: #f2f2f2;
                            min-height: 82px;

                            ._01{
                                text-align: left;
                                h3{
                                    margin: 0px;
                                    font-size: 12px;
                                    line-height: 18px;
                                    min-height: 36px;
                                    max-height: 36px;
                                    overflow: hidden;
                                    margin-bottom: 5px;
                                    a{
                                        font-size: 12px;
                                        color: #444;
                                        text-decoration: none;
                                        transition: all 0.3s ease-in-out 0s;
                                    }
                                }
                                .item-price{
                                    min-height: 81px;
                                    max-height: 81px;
                                    p.item-sale{color: #242424;
                                        display: block;
                                        font-size: 14px;
                                        font-weight: bold;
                                        margin-bottom: 5px;
                                        small{
                                            line-height: 20px;
                                            float: left;
                                        }
                                        span{
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 400;
                                            text-decoration: none;
                                            font-size: 12px;
                                            background-color: #F47920;
                                            color: #fff;
                                            padding: 3px;
                                            float: left;
                                            line-height: 15px;
                                            margin-left: 5px;
                                        }
                                    }
                                    p.price-regular{
                                        clear: both;
                                        color: #a2a2a2;
                                        display: block;
                                        font-size: 13px;
                                        text-decoration: line-through;
                                        margin-bottom: 5px;
                                    }
                                    .danh-gia{
                                        display: flex;
                                        align-items: center;
                                        .danh-gia-sao{
                                            margin-top: -3px;
                                            color: rgb(255, 204, 51);
                                            float: left;
                                            
                                            i{
                                                font-size: 11px;
                                            }
                                        }
                                        p{
                                            color: #666666;
                                            font-size: 14px;
                                            padding: 0 3px;
                                            float: left;
                                        }
                                        img{
                                            padding: 0 3px;
                                            width: 15px;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .div-side-list-item{
                    margin: 0 15px;
                    //background-color: #F47920;
                    .side-list-item{
                        margin-left: -15px;
                        margin-right: -15px;
                        border: 1px solid #f2f2f2;
                        ul{
                            list-style: none;
                            
                            li{
                                margin: 0px 15px;
                                .side-item{
                                    display: inline-block;
                                    min-height: 1px;
                                    padding: 20px 0px;
                                    border-bottom: 1px solid #f3f3f3;
                                    .img{
                                        float: left;
                                        padding-right: 15px;
                                        text-align: center;
                                        //width: 30%;
                                        //border: 1px solid #f3f3f3;
                                        img{
                                            max-width: 100%;
                                            border: 1px solid #f2f2f2;
                                            vertical-align: middle;
                                        }
                                    }

                                    .right-content{
                                        width: 57%;
                                        float: left;
                                        padding: 0 15px;
                                        height: auto;
                                        h3{
                                            margin-top: 5px;
                                            line-height: 17px;
                                            a{
                                                font-size: 14px;
                                                color: #363637;
                                                display: block;
                                                height: 42px;
                                                overflow: hidden;
                                                text-decoration: none;
                                                font-family: 'Roboto', sans-serif;
                                                font-weight: 400;
                                                line-height: 21px;
                                                transition: all .3s ease-out;
                                            }
                                            &:hover{
                                                a{
                                                    color: #F47920;
                                                }
                                            }
                                        }

                                        .danh-gia{
                                            
                                            color: rgb(255, 204, 51);
                                            font-size: 11px;
                                            margin: 10px 0px;
                                            .star{

                                            }
                                        }

                                        .item-price{
                                            
                                            small{
                                                color: #F47920;
                                                display: block;
                                                font-size: 12px;
                                                font-weight: bold;
                                                
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .div-y-kien-kh{
                    .my-y-kien{
                        border: 1px solid #f2f2f2;
                        text-align: center;
                        .info{
                            margin-top: 30px;
                            img{
                                border-radius: 50%;
                                width: 102px;
                                height: 102px;
                            }
                            .name{
                                text-transform: uppercase;
                                font-size: 16px;
                                margin-top: 18px;
                                margin-bottom: 6px;
                                color: #333333;
                            }
                            .slogan{color: #888888;
                                font-size: 12px;
                                line-height: 120%;
                                margin: 0;
                                text-transform: capitalize;

                            }
                        }
                        .noi-dung-y-i{
                            display: inline-block;
                            width: 100%;
                            .noi-dung{
                                margin: 6px 0px;
                                background: #fff none repeat scroll 0 0;
                                color: #444;
                                font-size: 12px;
                                font-style: italic;
                                line-height: 20px;
                                margin: 6px 0 6px;
                                text-align: justify;
                                text-shadow: none;
                                text-align: center;
                            }
                            .quota-left{
                                padding-left: 15px;
                                font-size: 18px;
                                text-align: left;
                            }
                            .quota-right{
                                padding-right: 15px;
                                font-size: 18px;
                                float: right;
                            }
                        }
                    }
                }
            }
        }

        .item{
            width: 69%;
            float: left;
            margin-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            /*
            .title{
                    
                color: #444444;
                font-size: 15px;
                line-height: 25px;
                margin: 0 0 20px;
                padding: 11px 8px 11px 15px;
                position: relative;
                text-transform: uppercase;
                font-weight: bold;
                background: #f2f2f2;

                a{
                    color: #444444;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out 0s;
                    text-transform: uppercase;
                }
            }
            */
            .div-item{
                width: 100%;
                //background-color: #F47920;
                min-height: 100px;
                .div-item-lv2{
                    ul{
                        list-style: none;
                    }
                    ul.doc{

                        li{
                            ul.ngang{
                                li{
                                    width: 190px;
                                    height: 412px;
                                    //border: 1px solid #f2f2f2;
                                    margin-right: 2.737999999999999%;
                                    float: left;
                                    //background: linear-gradient(to bottom, #121212,#989898);
                                    margin-bottom: 30px;
                                    .div-item{
                                        width: 100%;
                                        .div-bia{
                                            //width: 100%;
                                            //padding: 25px;
                                            border: 1px solid #f2f2f2;
                                            padding: 24px 0px;
                                            text-align: center;
                                            position: relative;
                                            z-index: 0;
                                            a{
                                                display: inline-block;
                                                max-width: 140px;
                                                img{
                                                    max-width: 100%;
                                                    box-shadow: -7px 7px 11px -3px #9e9e9e;
                                                }
                                            }
                                            a.buy-now{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                                color: #fff;
                                                padding: 7px 10px;
                                                transition: all 1s ease-in-out 0s;
                                                text-transform: uppercase;
                                                font-size: 13px;
                                                z-index: 999;
                                                opacity: 1;
                                                text-decoration: none;
                                                background: #444 none repeat scroll 0 0;
                                                white-space: nowrap;

                                                i{
                                                    margin-right: 3px;
                                                }
                                                &:hover{
                                                    background: #F47920;
                                                    transform: translate(0px,0.5);
                                                }
                                            }
                                            
                                            &:before{
                                                display: none;
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                width: 100%;
                                                height: 100%;
                                                content: "";
                                                transition: all 0.3s ease-out 0s;
                                                background-color: rgba(0, 0, 0, 0.2);
                                                cursor: pointer;
                                                z-index: 99;
                                            }
                                            &:hover:before{
                                                display: block;
                                            }
                                        }

                                        .div-item-info{
                                            border-width: 0px 1px 1px;
                                            border-style: solid;
                                            border-color: #f2f2f2;
                                            text-align: left;
                                            padding: 10px 15px 0px;
                                            //padding-bottom: 21px;
                                            h3{font-family: inherit;
                                                font-weight: 500;
                                                color: inherit;
                                                line-height: 1.1;
                                                font-size: 12px;
                                                line-height: 18px;
                                                min-height: 36px;
                                                max-height: 36px;
                                                margin-bottom: 5px;
                                                overflow: hidden;
                                                a{
                                                    text-decoration: none;
                                                    color: #444;
                                                }
                                            }
                                            .item-price{
                                                min-height: 81px;
                                                max-height: 81px;
                                                p.price-sale{
                                                    color: #242424;
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    margin-bottom: 5px;
                                                    small{
                                                        line-height: 20px;
                                                        float: left;
                                                    }
                                                    span{
                                                        font-size: 12px;
                                                        background-color: #f47920;
                                                        color: #fff;
                                                        padding: 3px;
                                                        float: left;
                                                        line-height: 15px;
                                                        margin-left: 5px;
                                                    }
                                                }
                                                p.price-regular{
                                                    color: #a2a2a2;
                                                    display: block;
                                                    font-size: 13px;
                                                    text-decoration: line-through;
                                                    clear: both;
                                                    margin-bottom: 5px;
                                                    small{
                                                        font-size: 85%;
                                                    }
                                                }
                                                .danh-gia{
                                                    //clear: both;
                                                    display: flex;
                                                    align-items: center;
                                                    .star{
                                                        float: left;
                                                        margin-top: -3px;
                                                        i{
                                                            color: rgb(255, 204, 51);
                                                            font-size: 11px;
                                                        }
                                                    }
                                                    p{
                                                        color: #666666;
                                                        font-size: 14px;
                                                        padding: 0 3px;
                                                        float: left;
                                                    }
                                                    img{
                                                        margin-left: 3px;
                                                        margin-top: -3px;
                                                        width: 15px;
                                                        height: auto;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                li:last-child{
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
            }
            .div-banner{
                clear: both;
                margin: 0 15px;
                margin-bottom: 30px;
                .banner{
                    margin-left: -15px;
                    margin-right: -15px;
                    a{
                        display: inline-block;
                        position: relative;
                        transition: all 0.3s ease-in-out 0s;
                        width: 100%;
                        height: 100%;
                        img{
                            max-width: 100%;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            width: 97.59%;
                            height: 90.399%;
                            border-style: solid;
                            border-width: 10px;
                            border-color: rgba(255,255,255,0.45);
                            transition-timing-function: ease-out;
                            z-index: -1;
                            transform: scale(0);
                            transition-duration: 0.3s;
                            transition-property: transform;
                            background: rgba(255,255,255,0.15);
                        }
                        &:hover::before{
                            transform: scale(1);
                            z-index: 1;
                        }
                    }
                }
                
            }
        }
    }
    .container{
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        .div-banner{
            //margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 30px;
            .banner{
                display: inline-block;
                a{
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 97.59%;
                        height: 90.399%;
                        border-style: solid;
                        border-width: 10px;
                        border-color: rgba(255,255,255,0.45);
                        transition-timing-function: ease-out;
                        z-index: -1;
                        transform: scale(0);
                        transition-duration: 0.3s;
                        transition-property: transform;
                        background: rgba(255,255,255,0.15);
                    }
                    &:hover::before{
                        transform: scale(1);
                        z-index: 1;
                    }
                }
                ._1{
                    float: left;;
                    width: 45%;
                    height: auto;
                    padding-right: 15px;
                    a{
                        &::before{
                            width: 96.2256%;
                            height: 92.37%;
                        }
                    }
                    img{
                        max-width: 100%;
                        height: 321px;
                    }
                }
                ._23{
                    float: left;
                    width: 50%;
                    //height: auto;
                    padding-left: 15px;
                    height: 321px;;
                    ._2,._3{
                        height: 45%;
                        img{
                            max-height: 100%;
                            width: 100%;
                            //max-height: 80%;
                        }
                        a{
                            &::before{width: 96.603%;
                                height: 85.7299%;
                            }
                        }
                        
                    }
                    ._2{
                        padding-bottom: 16px;
                    }
                    ._3{
                        padding-top: 16px;
                    }
                }
            }
        }
        .title{
            margin-top: 30px;    
            color: #444444;
            font-size: 15px;
            line-height: 25px;
            margin: 0 0 20px;
            padding: 11px 7px 11px 15px;
            position: relative;
            text-transform: uppercase;
            font-weight: bold;
            background: #f2f2f2;

            a{
                color: #444444;
                text-decoration: none;
                transition: all 0.3s ease-in-out 0s;
                text-transform: uppercase;
            }

            
        }
        .div-sach-sap-xuat-ban{
            padding-right: 15px;
            .div-item-left{
                float: left;
                width: 25%;
                margin-right: 15px;
                .item-left{
                    display: inline-block;
                    img{
                        max-width: 100%;
                    }
                }
            }
            .div-item-sach-sap-xb{
                margin-left: -15px;
                float: left;
                width: 75%;
                
                .item-sach-sap-xb{
                    
                    padding-left: 15px;
                    ul{
                        list-style: none;
                    }
                    ul.doc{
                        //background: #f47920;   
                        margin-left: 15px;
                        li{
                            width: 100%;
                            display: inline-block;
                            ul.ngang{
                                
                                li{
                                    color: #fff;
                                    width: 29%;
                                    //background: linear-gradient(to right,#565656, #784889);
                                    padding-top: 20px;
                                    padding-right: 33.296px;
                                    .item-new{
                                    //width: 30%;
                                    width: 100%;
                                    display: inline-block;
                                    margin-right: -30px;
                                    border-bottom: 1px solid #f2f2f2;
                                    //background: red;
                                    padding-bottom: 20px;

                                        .left-content{
                                            border: 1px solid #f2f2f2;
                                            float: left;
                                            width: 30%;
                                            text-align: center;
                                            margin-right: 15px;
                                            padding: 0 10px;
                                            img{
                                                display: inline-block;
                                                vertical-align: middle; 
                                                width: 100%;
                                                height: auto;
                                            }
                                        }
                                        .right-content{
                                            margin-left: 15px;
                                            float: left;
                                            width: 48.563%;
                                            .name{
                                                
                                                min-height: 48px;
                                                max-height: 48px;
                                                a{
                                                    display: inline-block;
                                                    font-family: 'roboto',sans-serif;
                                                    font-size: 14px;
                                                    color: rgb(54, 54, 55);
                                                    text-decoration: none;
                                                    height: 42px;
                                                    overflow: hidden;
                                                    transition: all 0.3s ease-in-out 0s;
                                                    &:hover{
                                                        color: rgb(244, 121, 32);
                                                    }
                                                }
                                                
                                            }
                                            .star{
                                                color: rgb(255, 204, 51);
                                                margin-bottom: 5px;
                                            }
                                            .price{
                                                color: rgb(244, 121, 32);
                                                font-size: 13px;
                                                font-weight: bold;
                                                margin-top: 5px;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .tuyendung-doitac{
            width: 100%;
            display: inline-block;
            margin-top: 30px;
            .tuyendung,.doitac{
                width: 47.4372%;
                float: left;
            }
            .tuyendung{
                margin-right: 15px;
            }
            .tuyendung-content{
                display: inline-block;
                //margin-right: 15px;
                ._left,._right{
                    width: 46.939748%;
                    float: left;
                    //display: inline-block;
                    margin-right: 15px;
                    border: 1px solid #f2f2f2;
                    img{
                        max-width: 100%;
                    }
                    h3{ 
                        margin: 0 15px;
                        font-size: 14px;
                        margin-bottom: 10px;
                        min-height: 36px;
                        max-height: 36px;

                    }
                    a{
                        color: rgb(68, 68, 68);
                        font-size: 14px;
                        line-height: 18px;
                        display: block;
                        height: 36px;
                        overflow: hidden;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out 0s;

                        &:hover{
                            color: rgb(244, 121, 32);
                        }
                    }
                    .date{
                        margin: 0 15px;
                        font-size: 13px;margin-bottom: 11px;
                        i{
                            font-size: 13px;
                            display: inline-block;
                            line-height: 13px;
                            margin-right: 5px;
                        }
                        span{
                            color: rgb(68, 68, 68);
                        }
                        
                    }
                    p{  
                        font-size: 12px;
                        line-height: 20px;
                        margin: 0px;
                        display: inline-block;
                        color: rgb(102, 102, 102);
                        height: 60px;
                        margin-left: 15px;
                        float: left;
                    }
                    a.read-more{
                        color: rgb(153, 153, 153);
                        border: 1px solid rgb(242, 242, 242);
                        display: inline-block;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 13px;
                        padding: 9px 12px 8px;
                        height: auto;
                        margin-left: 5px;
                        &:hover{
                            background: rgb(244, 121, 32);
                            color: #fff;
                        }
                    }
                }
                ._right{
                    margin-right: 0px;
                    margin-left: 15px;
                }
            }
            .doitac{
                margin-left: 15px;
                .brand{
                    width: 100%;
                    cursor: pointer;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
.div-footer{
        padding: 40px 0px 0px;
        background: rgb(49, 49, 49);
    .footer{
        width: 1170px;
        margin: 0 auto;
        padding-bottom: 40px;
        .noi-dung-footer{
            display: inline-block;
            ul{
                list-style: none;
            }ul.lv1{
                li:last-child{
                    width: 25%;     
                }
                li:first-child{
                    width: 20%;
                }
                li{
                    float: left;
                    padding: 15px;
                    padding-bottom: 0px;
                    width: 13%;
                    .col-1{
                        width: 220px;
                        height: 50px;
                        //background: linear-gradient(to bottom, #c01259,#fac);
                    }
                    .lv2{
                        font-size: 12px;
                        margin-top: 30px;
                        //background: burlywood;
                        li{
                            width: 100%;
                            color: rgb(152, 152, 152);
                            line-height: 35px;
                            //margin-bottom: 10px;
                            i{
                                font-size: 15px;
                                width: 37px;
                                height: 37px;
                                text-align: center;
                                line-height: 32px;
                                border: 2px solid rgb(255, 255, 255);
                                border-radius: 100%;
                                margin-right: 10px;
                                color: #fff;
                            }
                            a{
                                color: rgb(152, 152, 152);
                                text-decoration: none;
                            }
                        }
                    }
                    .lv3{text-transform: uppercase;
                        
                        li:first-child{    
                            color: rgb(255, 255, 255);
                            font-size: 14px;
                            margin: 0px 0px 19px;
                            line-height: 14px;
                            font-weight: bold;
                        }
                        li{
                            
                            width: 100%;
                            display: flex;
                            align-items: center;
                            padding-top: 10px;
                            &:hover{
                                a{
                                color: #fff;}
                                i{
                                    color: #fff;
                                }
                            }
                            a{
                                color: rgb(152, 152, 152);
                                text-decoration: none;
                                display: block;
                                font-size: 13px;
                                padding: 5px 0px 5px 6px;
                                position: relative;
                                text-transform: capitalize;
                                transition: all 0.3s ease-in-out 0s;
                                
                            }
                            i{
                                float: left;
                                //color: #fff;
                                color: #989898;
                                font-size: 9px;
                                transition: all 0.3s ease-in-out 0s;
                            }
                            img{
                                max-width: 85%;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .footer-2{
        width: 100%;
        .zhen-footer{
            background: #1a1a1a;
            padding: 30px 0;
            
            .container-f{
                margin: 0 auto;
                width: 1170px;
                padding-left: 15px;
                display: flex;
                flex-flow: row;
                .left{
                    
                    width: 30%;
                input{
                    width: 230px;
                    color: #fff;
                    background: rgba(255,255,255,0.2) none repeat scroll 0 0;
                    border: none;
                    height: 35px;
                    padding: 0px 10px;
                    line-height: 35px;
                    margin-right: 10px;
                }
                button{
                    color: #fff;
                    height: 35px;
                    padding: 0 12px;
                    font-size: 14px;
                    font-weight: 900;
                    border: medium none;
                    background: #444444;
                    transition: all 0.3s ease-in-out 0s;
                    cursor: pointer;
                }
            }
                .middel{
                    width: 40%;
                    .ban-quyen{
                        text-align: center;
                        color: #666666;
                        font-size: 13px;
                        margin: 0;
                        line-height: 35px;
                        a{
                            color: #989898;
                            text-decoration: none;
                        }
                    }
                }
                .right{
                    margin: 0 15px;
                    .social{
                        .soc{
                            list-style: none;
                            li{
                                color: #908f8f;
                                margin-right: 10px;
                                float: left;
                                i{
                                    font-size: 16px;
                                }
                                a{
                                    color: #fff;
                                    text-decoration: none;
                                    background-color: rgba(255,255,255,0.2);
                                    height: 35px;
                                    width: 35px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: all .3s ease-out 0s;
                                    &._1:hover{
                                        background: #3b5998;
                                    }
                                    &._2:hover{
                                        background-color: #00acee;
                                    }
                                    &._3:hover{
                                        background-color: #ee802f;
                                    }
                                    &._4:hover{
                                        background-color: #dd4b39;
                                    }
                                    &._5:hover{
                                        background-color: #366184;
                                    }
                                    &._6:hover{
                                        background-color: #D62423;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}
::placeholder{
    color: #fff;
    font-size: 14px;
    font-weight: 900;
}
.giam-gia{
    padding: 11px 6px;
    line-height: 1;
    position: absolute;
    border-radius: 50%;
    background-color: #F47920;
    color: #fff;
    font-size: 12px;
    right: 9px;
    top: 9px;
    text-transform: uppercase;
    z-index: 9;
    .ke-tren-duoi{
        font-size: 10px;
        border-width: 1px 0;
        border-style: solid;
        border-color: #fff;
        padding: 2px 2px 3px;
    }
}

.left-right{
    color: #999;
    font-size: 18px;
    float: right;  
    
    .left,.right{
        float: left;
        cursor: pointer; 
    }
    .right{
        margin-left: 15px;
        float: left;
    }
}

::-webkit-scrollbar{
    background-color: #111111;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #111111;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}

