* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

header {
  width: 100%; }
  header .row {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; }
    header .row .logo {
      float: left;
      cursor: pointer;
      padding-bottom: 33px;
      padding-top: 32px; }
      header .row .logo img {
        max-width: 100%;
        height: auto; }
    header .row .search-cart {
      width: 75%;
      float: right;
      margin-top: 36px;
      right: auto;
      position: relative;
      padding-left: 15px;
      padding-right: 15px; }
      header .row .search-cart .cart {
        width: 150px;
        height: 50px;
        background: #F47920;
        float: right;
        cursor: pointer; }
        header .row .search-cart .cart ul li a.cart-none {
          font-size: 13px;
          text-align: center;
          color: white;
          line-height: 50px;
          display: inline-block;
          height: 50%;
          text-decoration: none;
          width: 150px;
          transition: 0.5s ease-in-out 0s; }
          header .row .search-cart .cart ul li a.cart-none span {
            text-align: center; }
        header .row .search-cart .cart ul li div.drop-cart {
          display: none;
          position: absolute;
          top: 50px;
          left: 594px;
          color: #333333;
          width: 300px;
          background: #fff;
          box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
          z-index: 100; }
          header .row .search-cart .cart ul li div.drop-cart div.status {
            background: #f5f5f5;
            border-bottom: 1px solid #ddd;
            padding: 15px;
            font-size: 14px; }
            header .row .search-cart .cart ul li div.drop-cart div.status i {
              color: #F47920;
              font-size: 18px; }
            header .row .search-cart .cart ul li div.drop-cart div.status span {
              color: #333; }
          header .row .search-cart .cart ul li div.drop-cart div.cart-item {
            padding: 10px; }
            header .row .search-cart .cart ul li div.drop-cart div.cart-item p {
              margin: 0 0 10px;
              font-size: 12px; }
      header .row .search-cart .search {
        width: calc(100% - 130px - 155px);
        position: relative;
        margin-left: 130px; }
        header .row .search-cart .search input {
          width: 100%;
          height: 50px;
          line-height: 50px;
          border-color: #f2f2f2;
          border-style: solid;
          background-color: #fff;
          padding: 0 45px 0 20px;
          background: #fff none repeat scroll 0 0;
          color: rgba(68, 68, 68, 0.5);
          display: inline-block;
          font-size: 12px;
          box-shadow: none !important;
          margin-right: 0;
          padding: 0 45px 0 20px;
          width: 100%;
          outline: none; }
        header .row .search-cart .search .btn-search {
          height: 50px;
          background: transparent none repeat scroll 0 0;
          border: 0 none !important;
          box-shadow: none !important;
          padding: 0;
          position: absolute;
          text-align: center;
          top: -1px;
          right: -1px;
          width: 50px;
          cursor: pointer; }
  header .header-top {
    height: 40px;
    background: #f2f2f2;
    position: relative;
    width: 100%; }
    header .header-top .container {
      width: 1170px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px; }
      header .header-top .container ul.menu {
        float: right; }
        header .header-top .container ul.menu li {
          float: left;
          list-style: none; }
          header .header-top .container ul.menu li:first-child a {
            border-left: 0px; }
          header .header-top .container ul.menu li a {
            text-decoration: none;
            color: #999999;
            text-transform: capitalize;
            font-size: 12px;
            margin: 14px 0 14px;
            padding: 0 15px 1px;
            display: inline-block;
            line-height: 12px;
            border-color: #d7d7d7;
            border-style: solid;
            border-width: 0 0 0 1px;
            transition: all .3s ease-in-out; }
            header .header-top .container ul.menu li a:hover {
              color: #F47920; }
  header .menu-bot {
    background: #444 none repeat scroll 0 0;
    top: 0px !important;
    width: 100%;
    clear: both;
    max-height: 50px;
    z-index: 1; }
    header .menu-bot .container {
      width: 1170px;
      margin: 0px auto;
      padding-left: 15px;
      padding-right: 15px; }
      header .menu-bot .container .main-menu {
        margin-left: -15px;
        margin-right: -15px; }
        header .menu-bot .container .main-menu .danh-muc-sach {
          position: relative;
          width: 25%;
          padding-left: 15px;
          padding-right: 15px;
          float: left; }
          header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main {
            position: relative;
            margin-top: -10px; }
            header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .tieu-de {
              background: none repeat scroll 0 0 #F47920;
              padding: 15px 19px;
              text-align: left;
              margin-bottom: 10px; }
              header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .tieu-de h3 {
                color: #fff;
                display: block;
                font-size: 16px;
                font-weight: bold;
                line-height: 20px;
                text-transform: uppercase; }
                header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .tieu-de h3 em {
                  display: none;
                  float: right;
                  font-size: 18px;
                  line-height: 25px;
                  cursor: pointer; }
            header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc {
              background-color: #fff;
              border-style: solid;
              border-width: 0px 1px 1px;
              border-color: #f2f2f2;
              left: 0;
              top: 50px;
              width: 99.3%;
              position: absolute;
              z-index: 999;
              display: none; }
              header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc ul {
                position: relative;
                width: 100%;
                list-style: none; }
                header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc ul li {
                  position: relative;
                  text-align: left;
                  text-transform: uppercase;
                  padding: 4.5px 0px; }
                  header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc ul li:hover > a {
                    color: #F47920; }
                  header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc ul li:hover .submenu {
                    display: block; }
                  header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc ul li a {
                    color: #444;
                    display: block;
                    font-size: 12px;
                    padding: 0px 0px 0px 18px;
                    text-transform: capitalize;
                    line-height: 35px;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out 0s; }
                    header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc ul li a i {
                      float: right;
                      padding: 10px;
                      font-size: 14px; }
                  header .menu-bot .container .main-menu .danh-muc-sach .menu-doc-main .menu-doc ul li ul.submenu {
                    display: none;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    z-index: 1001;
                    width: 100%;
                    background-color: #fff;
                    border-left: 3px solid #F47920;
                    border-top: 1px solid #f0f0f0;
                    animation-duration: .6s;
                    animation-fill-mode: both;
                    box-shadow: 1px 1px #f0f0f0; }
        header .menu-bot .container .main-menu .menu-ngang {
          width: 50%;
          position: relative;
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px; }
          header .menu-bot .container .main-menu .menu-ngang nav {
            display: block;
            width: 100%;
            line-height: 50px; }
            header .menu-bot .container .main-menu .menu-ngang nav ul {
              width: 100%;
              list-style: none; }
              header .menu-bot .container .main-menu .menu-ngang nav ul li {
                font-size: 12px;
                text-transform: uppercase;
                float: left;
                text-align: left;
                margin-right: 28px;
                position: relative; }
                header .menu-bot .container .main-menu .menu-ngang nav ul li a {
                  display: block;
                  text-decoration: none;
                  transition: all 0.3s ease-in-out 0s;
                  color: #fff; }
                header .menu-bot .container .main-menu .menu-ngang nav ul li:first-child a {
                  color: #F47920; }
                header .menu-bot .container .main-menu .menu-ngang nav ul li:hover a {
                  color: #F47920; }
        header .menu-bot .container .main-menu .menu-ngang {
          float: left; }
        header .menu-bot .container .main-menu .tel {
          width: 16%;
          display: inline-block;
          padding-left: 0px;
          line-height: 49px;
          position: relative;
          min-height: 1px;
          margin-left: 19px; }
          header .menu-bot .container .main-menu .tel .tel-lv1 {
            background-color: #F47920;
            color: #fff; }
            header .menu-bot .container .main-menu .tel .tel-lv1 .tel-img {
              float: left;
              padding: 0 0 0 4px; }
              header .menu-bot .container .main-menu .tel .tel-lv1 .tel-img img {
                vertical-align: middle;
                max-width: 100%; }
            header .menu-bot .container .main-menu .tel .tel-lv1 .tel-text {
              width: 100%; }
              header .menu-bot .container .main-menu .tel .tel-lv1 .tel-text a {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                display: block;
                line-height: 50px;
                text-decoration: none;
                display: inline-block;
                width: 71%; }

div.main .container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both; }
  div.main .container .side-menu-slide {
    margin-left: -15px;
    margin-right: -15px; }
    div.main .container .side-menu-slide .side-menu {
      width: 25%;
      min-height: 1px;
      position: relative;
      padding-left: 15px;
      float: left; }
      div.main .container .side-menu-slide .side-menu .side-menu-container {
        border-style: solid;
        border-width: 0 1px 1px;
        border-color: #f2f2f2;
        margin-top: -10px;
        z-index: 99999; }
        div.main .container .side-menu-slide .side-menu .side-menu-container ul {
          list-style: none; }
          div.main .container .side-menu-slide .side-menu .side-menu-container ul li {
            position: relative;
            text-align: left;
            padding: 4.5px 0px;
            background: #fff; }
            div.main .container .side-menu-slide .side-menu .side-menu-container ul li:hover {
              background: #F47920; }
              div.main .container .side-menu-slide .side-menu .side-menu-container ul li:hover > a {
                color: #fff; }
              div.main .container .side-menu-slide .side-menu .side-menu-container ul li:hover ul.submenu {
                display: block; }
            div.main .container .side-menu-slide .side-menu .side-menu-container ul li a {
              color: #444;
              display: block;
              font-size: 12px;
              font-weight: normal;
              padding: 0px 0 0px 20px;
              text-transform: capitalize;
              line-height: 30px;
              padding-right: 30px;
              position: relative;
              text-decoration: none;
              transition: all 0.3s ease-in-out 0s; }
              div.main .container .side-menu-slide .side-menu .side-menu-container ul li a i {
                position: absolute;
                top: 0;
                right: 0;
                height: 30px;
                width: 25px;
                text-align: center;
                line-height: 30px;
                font-size: 14px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                display: inline-block; }
            div.main .container .side-menu-slide .side-menu .side-menu-container ul li ul.submenu {
              display: none;
              position: absolute;
              left: 100%;
              top: 0;
              width: 100%;
              background-color: #fff;
              box-shadow: 1px 1px #f0f0f0;
              border-left: 3px solid #F47920;
              animation-duration: .6s;
              animation-fill-mode: both;
              z-index: 99; }
              div.main .container .side-menu-slide .side-menu .side-menu-container ul li ul.submenu li {
                position: relative;
                text-align: left;
                padding: 4.5px 0px; }
    div.main .container .side-menu-slide .side-menu {
      float: left;
      padding-right: 15px; }
    div.main .container .side-menu-slide .slide {
      float: left;
      width: 69%;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 30px;
      margin-bottom: 15px; }
      div.main .container .side-menu-slide .slide .silde-container {
        width: 100%; }
        div.main .container .side-menu-slide .slide .silde-container .slide-img img {
          vertical-align: middle;
          width: 100%; }
div.main .container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  div.main .container .sidebar-item {
    margin-left: -15px;
    margin-right: -15px; }
    div.main .container .sidebar-item .side {
      margin-top: 10px;
      width: 25%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
                /*
                .title{
                    
                    color: #444444;
                    font-size: 15px;
                    line-height: 25px;
                    margin: 0 0 20px;
                    padding: 11px 7px 11px 15px;
                    position: relative;
                    text-transform: uppercase;
                    font-weight: bold;
                    background: #f2f2f2;

                    a{
                        color: #444444;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out 0s;
                        text-transform: uppercase;
                    }

                    
                }*/ }
      div.main .container .sidebar-item .side .side-item-container {
        margin-left: -15px;
        margin-right: -15px; }
        div.main .container .sidebar-item .side .side-item-container .side-item {
          margin: 0px 15px; }
          div.main .container .sidebar-item .side .side-item-container .side-item .item-thumb {
            position: relative;
            text-align: center;
            border: 1px solid #f2f2f2;
            padding: 25px 0px; }
            div.main .container .sidebar-item .side .side-item-container .side-item .item-thumb a {
              max-width: 140px;
              display: inline-block; }
              div.main .container .sidebar-item .side .side-item-container .side-item .item-thumb a img {
                width: 100%;
                box-shadow: -7px 7px 11px -3px #9e9e9e; }
        div.main .container .sidebar-item .side .side-item-container .item-info {
          margin: 0px 15px; }
          div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block {
            padding: 10px 15px 0px;
            border-style: solid;
            border-width: 0 1px 1px;
            border-color: #f2f2f2;
            min-height: 82px; }
            div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 {
              text-align: left; }
              div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 h3 {
                margin: 0px;
                font-size: 12px;
                line-height: 18px;
                min-height: 36px;
                max-height: 36px;
                overflow: hidden;
                margin-bottom: 5px; }
                div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 h3 a {
                  font-size: 12px;
                  color: #444;
                  text-decoration: none;
                  transition: all 0.3s ease-in-out 0s; }
              div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price {
                min-height: 81px;
                max-height: 81px; }
                div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price p.item-sale {
                  color: #242424;
                  display: block;
                  font-size: 14px;
                  font-weight: bold;
                  margin-bottom: 5px; }
                  div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price p.item-sale small {
                    line-height: 20px;
                    float: left; }
                  div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price p.item-sale span {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    font-size: 12px;
                    background-color: #F47920;
                    color: #fff;
                    padding: 3px;
                    float: left;
                    line-height: 15px;
                    margin-left: 5px; }
                div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price p.price-regular {
                  clear: both;
                  color: #a2a2a2;
                  display: block;
                  font-size: 13px;
                  text-decoration: line-through;
                  margin-bottom: 5px; }
                div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price .danh-gia {
                  display: flex;
                  align-items: center; }
                  div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price .danh-gia .danh-gia-sao {
                    margin-top: -3px;
                    color: #ffcc33;
                    float: left; }
                    div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price .danh-gia .danh-gia-sao i {
                      font-size: 11px; }
                  div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price .danh-gia p {
                    color: #666666;
                    font-size: 14px;
                    padding: 0 3px;
                    float: left; }
                  div.main .container .sidebar-item .side .side-item-container .item-info .item-info-block ._01 .item-price .danh-gia img {
                    padding: 0 3px;
                    width: 15px;
                    height: auto; }
      div.main .container .sidebar-item .side .div-side-list-item {
        margin: 0 15px; }
        div.main .container .sidebar-item .side .div-side-list-item .side-list-item {
          margin-left: -15px;
          margin-right: -15px;
          border: 1px solid #f2f2f2; }
          div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul {
            list-style: none; }
            div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li {
              margin: 0px 15px; }
              div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item {
                display: inline-block;
                min-height: 1px;
                padding: 20px 0px;
                border-bottom: 1px solid #f3f3f3; }
                div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .img {
                  float: left;
                  padding-right: 15px;
                  text-align: center; }
                  div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .img img {
                    max-width: 100%;
                    border: 1px solid #f2f2f2;
                    vertical-align: middle; }
                div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .right-content {
                  width: 57%;
                  float: left;
                  padding: 0 15px;
                  height: auto; }
                  div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .right-content h3 {
                    margin-top: 5px;
                    line-height: 17px; }
                    div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .right-content h3 a {
                      font-size: 14px;
                      color: #363637;
                      display: block;
                      height: 42px;
                      overflow: hidden;
                      text-decoration: none;
                      font-family: 'Roboto', sans-serif;
                      font-weight: 400;
                      line-height: 21px;
                      transition: all .3s ease-out; }
                    div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .right-content h3:hover a {
                      color: #F47920; }
                  div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .right-content .danh-gia {
                    color: #ffcc33;
                    font-size: 11px;
                    margin: 10px 0px; }
                  div.main .container .sidebar-item .side .div-side-list-item .side-list-item ul li .side-item .right-content .item-price small {
                    color: #F47920;
                    display: block;
                    font-size: 12px;
                    font-weight: bold; }
      div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien {
        border: 1px solid #f2f2f2;
        text-align: center; }
        div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .info {
          margin-top: 30px; }
          div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .info img {
            border-radius: 50%;
            width: 102px;
            height: 102px; }
          div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .info .name {
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 18px;
            margin-bottom: 6px;
            color: #333333; }
          div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .info .slogan {
            color: #888888;
            font-size: 12px;
            line-height: 120%;
            margin: 0;
            text-transform: capitalize; }
        div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .noi-dung-y-i {
          display: inline-block;
          width: 100%; }
          div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .noi-dung-y-i .noi-dung {
            margin: 6px 0px;
            background: #fff none repeat scroll 0 0;
            color: #444;
            font-size: 12px;
            font-style: italic;
            line-height: 20px;
            margin: 6px 0 6px;
            text-align: justify;
            text-shadow: none;
            text-align: center; }
          div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .noi-dung-y-i .quota-left {
            padding-left: 15px;
            font-size: 18px;
            text-align: left; }
          div.main .container .sidebar-item .side .div-y-kien-kh .my-y-kien .noi-dung-y-i .quota-right {
            padding-right: 15px;
            font-size: 18px;
            float: right; }
  div.main .container .item {
    width: 69%;
    float: left;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
            /*
            .title{
                    
                color: #444444;
                font-size: 15px;
                line-height: 25px;
                margin: 0 0 20px;
                padding: 11px 8px 11px 15px;
                position: relative;
                text-transform: uppercase;
                font-weight: bold;
                background: #f2f2f2;

                a{
                    color: #444444;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out 0s;
                    text-transform: uppercase;
                }
            }
            */ }
    div.main .container .item .div-item {
      width: 100%;
      min-height: 100px; }
      div.main .container .item .div-item .div-item-lv2 ul {
        list-style: none; }
      div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li {
        width: 190px;
        height: 412px;
        margin-right: 2.737999999999999%;
        float: left;
        margin-bottom: 30px; }
        div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item {
          width: 100%; }
          div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia {
            border: 1px solid #f2f2f2;
            padding: 24px 0px;
            text-align: center;
            position: relative;
            z-index: 0; }
            div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia a {
              display: inline-block;
              max-width: 140px; }
              div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia a img {
                max-width: 100%;
                box-shadow: -7px 7px 11px -3px #9e9e9e; }
            div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia a.buy-now {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #fff;
              padding: 7px 10px;
              transition: all 1s ease-in-out 0s;
              text-transform: uppercase;
              font-size: 13px;
              z-index: 999;
              opacity: 1;
              text-decoration: none;
              background: #444 none repeat scroll 0 0;
              white-space: nowrap; }
              div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia a.buy-now i {
                margin-right: 3px; }
              div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia a.buy-now:hover {
                background: #F47920;
                transform: translate(0px, 0.5); }
            div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia:before {
              display: none;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              content: "";
              transition: all 0.3s ease-out 0s;
              background-color: rgba(0, 0, 0, 0.2);
              cursor: pointer;
              z-index: 99; }
            div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-bia:hover:before {
              display: block; }
          div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info {
            border-width: 0px 1px 1px;
            border-style: solid;
            border-color: #f2f2f2;
            text-align: left;
            padding: 10px 15px 0px; }
            div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info h3 {
              font-family: inherit;
              font-weight: 500;
              color: inherit;
              line-height: 1.1;
              font-size: 12px;
              line-height: 18px;
              min-height: 36px;
              max-height: 36px;
              margin-bottom: 5px;
              overflow: hidden; }
              div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info h3 a {
                text-decoration: none;
                color: #444; }
            div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price {
              min-height: 81px;
              max-height: 81px; }
              div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price p.price-sale {
                color: #242424;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 5px; }
                div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price p.price-sale small {
                  line-height: 20px;
                  float: left; }
                div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price p.price-sale span {
                  font-size: 12px;
                  background-color: #f47920;
                  color: #fff;
                  padding: 3px;
                  float: left;
                  line-height: 15px;
                  margin-left: 5px; }
              div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price p.price-regular {
                color: #a2a2a2;
                display: block;
                font-size: 13px;
                text-decoration: line-through;
                clear: both;
                margin-bottom: 5px; }
                div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price p.price-regular small {
                  font-size: 85%; }
              div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price .danh-gia {
                display: flex;
                align-items: center; }
                div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price .danh-gia .star {
                  float: left;
                  margin-top: -3px; }
                  div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price .danh-gia .star i {
                    color: #ffcc33;
                    font-size: 11px; }
                div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price .danh-gia p {
                  color: #666666;
                  font-size: 14px;
                  padding: 0 3px;
                  float: left; }
                div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li .div-item .div-item-info .item-price .danh-gia img {
                  margin-left: 3px;
                  margin-top: -3px;
                  width: 15px;
                  height: auto; }
      div.main .container .item .div-item .div-item-lv2 ul.doc li ul.ngang li:last-child {
        margin-right: 0px; }
    div.main .container .item .div-banner {
      clear: both;
      margin: 0 15px;
      margin-bottom: 30px; }
      div.main .container .item .div-banner .banner {
        margin-left: -15px;
        margin-right: -15px; }
        div.main .container .item .div-banner .banner a {
          display: inline-block;
          position: relative;
          transition: all 0.3s ease-in-out 0s;
          width: 100%;
          height: 100%; }
          div.main .container .item .div-banner .banner a img {
            max-width: 100%; }
          div.main .container .item .div-banner .banner a::before {
            content: "";
            position: absolute;
            width: 97.59%;
            height: 90.399%;
            border-style: solid;
            border-width: 10px;
            border-color: rgba(255, 255, 255, 0.45);
            transition-timing-function: ease-out;
            z-index: -1;
            transform: scale(0);
            transition-duration: 0.3s;
            transition-property: transform;
            background: rgba(255, 255, 255, 0.15); }
          div.main .container .item .div-banner .banner a:hover::before {
            transform: scale(1);
            z-index: 1; }
div.main .container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  div.main .container .div-banner {
    margin-right: -15px;
    margin-bottom: 30px; }
    div.main .container .div-banner .banner {
      display: inline-block; }
      div.main .container .div-banner .banner a {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%; }
        div.main .container .div-banner .banner a::before {
          content: "";
          position: absolute;
          width: 97.59%;
          height: 90.399%;
          border-style: solid;
          border-width: 10px;
          border-color: rgba(255, 255, 255, 0.45);
          transition-timing-function: ease-out;
          z-index: -1;
          transform: scale(0);
          transition-duration: 0.3s;
          transition-property: transform;
          background: rgba(255, 255, 255, 0.15); }
        div.main .container .div-banner .banner a:hover::before {
          transform: scale(1);
          z-index: 1; }
      div.main .container .div-banner .banner ._1 {
        float: left;
        width: 45%;
        height: auto;
        padding-right: 15px; }
        div.main .container .div-banner .banner ._1 a::before {
          width: 96.2256%;
          height: 92.37%; }
        div.main .container .div-banner .banner ._1 img {
          max-width: 100%;
          height: 321px; }
      div.main .container .div-banner .banner ._23 {
        float: left;
        width: 50%;
        padding-left: 15px;
        height: 321px; }
        div.main .container .div-banner .banner ._23 ._2, div.main .container .div-banner .banner ._23 ._3 {
          height: 45%; }
          div.main .container .div-banner .banner ._23 ._2 img, div.main .container .div-banner .banner ._23 ._3 img {
            max-height: 100%;
            width: 100%; }
          div.main .container .div-banner .banner ._23 ._2 a::before, div.main .container .div-banner .banner ._23 ._3 a::before {
            width: 96.603%;
            height: 85.7299%; }
        div.main .container .div-banner .banner ._23 ._2 {
          padding-bottom: 16px; }
        div.main .container .div-banner .banner ._23 ._3 {
          padding-top: 16px; }
  div.main .container .title {
    margin-top: 30px;
    color: #444444;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 20px;
    padding: 11px 7px 11px 15px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    background: #f2f2f2; }
    div.main .container .title a {
      color: #444444;
      text-decoration: none;
      transition: all 0.3s ease-in-out 0s;
      text-transform: uppercase; }
  div.main .container .div-sach-sap-xuat-ban {
    padding-right: 15px; }
    div.main .container .div-sach-sap-xuat-ban .div-item-left {
      float: left;
      width: 25%;
      margin-right: 15px; }
      div.main .container .div-sach-sap-xuat-ban .div-item-left .item-left {
        display: inline-block; }
        div.main .container .div-sach-sap-xuat-ban .div-item-left .item-left img {
          max-width: 100%; }
    div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb {
      margin-left: -15px;
      float: left;
      width: 75%; }
      div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb {
        padding-left: 15px; }
        div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul {
          list-style: none; }
        div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc {
          margin-left: 15px; }
          div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li {
            width: 100%;
            display: inline-block; }
            div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li {
              color: #fff;
              width: 29%;
              padding-top: 20px;
              padding-right: 33.296px; }
              div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new {
                width: 100%;
                display: inline-block;
                margin-right: -30px;
                border-bottom: 1px solid #f2f2f2;
                padding-bottom: 20px; }
                div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .left-content {
                  border: 1px solid #f2f2f2;
                  float: left;
                  width: 30%;
                  text-align: center;
                  margin-right: 15px;
                  padding: 0 10px; }
                  div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .left-content img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    height: auto; }
                div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .right-content {
                  margin-left: 15px;
                  float: left;
                  width: 48.563%; }
                  div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .right-content .name {
                    min-height: 48px;
                    max-height: 48px; }
                    div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .right-content .name a {
                      display: inline-block;
                      font-family: 'roboto',sans-serif;
                      font-size: 14px;
                      color: #363637;
                      text-decoration: none;
                      height: 42px;
                      overflow: hidden;
                      transition: all 0.3s ease-in-out 0s; }
                      div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .right-content .name a:hover {
                        color: #f47920; }
                  div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .right-content .star {
                    color: #ffcc33;
                    margin-bottom: 5px; }
                  div.main .container .div-sach-sap-xuat-ban .div-item-sach-sap-xb .item-sach-sap-xb ul.doc li ul.ngang li .item-new .right-content .price {
                    color: #f47920;
                    font-size: 13px;
                    font-weight: bold;
                    margin-top: 5px;
                    display: inline-block; }
  div.main .container .tuyendung-doitac {
    width: 100%;
    display: inline-block;
    margin-top: 30px; }
    div.main .container .tuyendung-doitac .tuyendung, div.main .container .tuyendung-doitac .doitac {
      width: 47.4372%;
      float: left; }
    div.main .container .tuyendung-doitac .tuyendung {
      margin-right: 15px; }
    div.main .container .tuyendung-doitac .tuyendung-content {
      display: inline-block; }
      div.main .container .tuyendung-doitac .tuyendung-content ._left, div.main .container .tuyendung-doitac .tuyendung-content ._right {
        width: 46.939748%;
        float: left;
        margin-right: 15px;
        border: 1px solid #f2f2f2; }
        div.main .container .tuyendung-doitac .tuyendung-content ._left img, div.main .container .tuyendung-doitac .tuyendung-content ._right img {
          max-width: 100%; }
        div.main .container .tuyendung-doitac .tuyendung-content ._left h3, div.main .container .tuyendung-doitac .tuyendung-content ._right h3 {
          margin: 0 15px;
          font-size: 14px;
          margin-bottom: 10px;
          min-height: 36px;
          max-height: 36px; }
        div.main .container .tuyendung-doitac .tuyendung-content ._left a, div.main .container .tuyendung-doitac .tuyendung-content ._right a {
          color: #444444;
          font-size: 14px;
          line-height: 18px;
          display: block;
          height: 36px;
          overflow: hidden;
          text-decoration: none;
          transition: all 0.3s ease-in-out 0s; }
          div.main .container .tuyendung-doitac .tuyendung-content ._left a:hover, div.main .container .tuyendung-doitac .tuyendung-content ._right a:hover {
            color: #f47920; }
        div.main .container .tuyendung-doitac .tuyendung-content ._left .date, div.main .container .tuyendung-doitac .tuyendung-content ._right .date {
          margin: 0 15px;
          font-size: 13px;
          margin-bottom: 11px; }
          div.main .container .tuyendung-doitac .tuyendung-content ._left .date i, div.main .container .tuyendung-doitac .tuyendung-content ._right .date i {
            font-size: 13px;
            display: inline-block;
            line-height: 13px;
            margin-right: 5px; }
          div.main .container .tuyendung-doitac .tuyendung-content ._left .date span, div.main .container .tuyendung-doitac .tuyendung-content ._right .date span {
            color: #444444; }
        div.main .container .tuyendung-doitac .tuyendung-content ._left p, div.main .container .tuyendung-doitac .tuyendung-content ._right p {
          font-size: 12px;
          line-height: 20px;
          margin: 0px;
          display: inline-block;
          color: #666666;
          height: 60px;
          margin-left: 15px;
          float: left; }
        div.main .container .tuyendung-doitac .tuyendung-content ._left a.read-more, div.main .container .tuyendung-doitac .tuyendung-content ._right a.read-more {
          color: #999999;
          border: 1px solid #f2f2f2;
          display: inline-block;
          font-size: 12px;
          font-weight: normal;
          line-height: 13px;
          padding: 9px 12px 8px;
          height: auto;
          margin-left: 5px; }
          div.main .container .tuyendung-doitac .tuyendung-content ._left a.read-more:hover, div.main .container .tuyendung-doitac .tuyendung-content ._right a.read-more:hover {
            background: #f47920;
            color: #fff; }
      div.main .container .tuyendung-doitac .tuyendung-content ._right {
        margin-right: 0px;
        margin-left: 15px; }
    div.main .container .tuyendung-doitac .doitac {
      margin-left: 15px; }
      div.main .container .tuyendung-doitac .doitac .brand {
        width: 100%;
        cursor: pointer; }
        div.main .container .tuyendung-doitac .doitac .brand img {
          max-width: 100%; }

.div-footer {
  padding: 40px 0px 0px;
  background: #313131; }
  .div-footer .footer {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 40px; }
    .div-footer .footer .noi-dung-footer {
      display: inline-block; }
      .div-footer .footer .noi-dung-footer ul {
        list-style: none; }
      .div-footer .footer .noi-dung-footer ul.lv1 li:last-child {
        width: 25%; }
      .div-footer .footer .noi-dung-footer ul.lv1 li:first-child {
        width: 20%; }
      .div-footer .footer .noi-dung-footer ul.lv1 li {
        float: left;
        padding: 15px;
        padding-bottom: 0px;
        width: 13%; }
        .div-footer .footer .noi-dung-footer ul.lv1 li .col-1 {
          width: 220px;
          height: 50px; }
        .div-footer .footer .noi-dung-footer ul.lv1 li .lv2 {
          font-size: 12px;
          margin-top: 30px; }
          .div-footer .footer .noi-dung-footer ul.lv1 li .lv2 li {
            width: 100%;
            color: #989898;
            line-height: 35px; }
            .div-footer .footer .noi-dung-footer ul.lv1 li .lv2 li i {
              font-size: 15px;
              width: 37px;
              height: 37px;
              text-align: center;
              line-height: 32px;
              border: 2px solid white;
              border-radius: 100%;
              margin-right: 10px;
              color: #fff; }
            .div-footer .footer .noi-dung-footer ul.lv1 li .lv2 li a {
              color: #989898;
              text-decoration: none; }
        .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 {
          text-transform: uppercase; }
          .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 li:first-child {
            color: white;
            font-size: 14px;
            margin: 0px 0px 19px;
            line-height: 14px;
            font-weight: bold; }
          .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 li {
            width: 100%;
            display: flex;
            align-items: center;
            padding-top: 10px; }
            .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 li:hover a {
              color: #fff; }
            .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 li:hover i {
              color: #fff; }
            .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 li a {
              color: #989898;
              text-decoration: none;
              display: block;
              font-size: 13px;
              padding: 5px 0px 5px 6px;
              position: relative;
              text-transform: capitalize;
              transition: all 0.3s ease-in-out 0s; }
            .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 li i {
              float: left;
              color: #989898;
              font-size: 9px;
              transition: all 0.3s ease-in-out 0s; }
            .div-footer .footer .noi-dung-footer ul.lv1 li .lv3 li img {
              max-width: 85%; }
  .div-footer .footer-2 {
    width: 100%; }
    .div-footer .footer-2 .zhen-footer {
      background: #1a1a1a;
      padding: 30px 0; }
      .div-footer .footer-2 .zhen-footer .container-f {
        margin: 0 auto;
        width: 1170px;
        padding-left: 15px;
        display: flex;
        flex-flow: row; }
        .div-footer .footer-2 .zhen-footer .container-f .left {
          width: 30%; }
          .div-footer .footer-2 .zhen-footer .container-f .left input {
            width: 230px;
            color: #fff;
            background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
            border: none;
            height: 35px;
            padding: 0px 10px;
            line-height: 35px;
            margin-right: 10px; }
          .div-footer .footer-2 .zhen-footer .container-f .left button {
            color: #fff;
            height: 35px;
            padding: 0 12px;
            font-size: 14px;
            font-weight: 900;
            border: medium none;
            background: #444444;
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer; }
        .div-footer .footer-2 .zhen-footer .container-f .middel {
          width: 40%; }
          .div-footer .footer-2 .zhen-footer .container-f .middel .ban-quyen {
            text-align: center;
            color: #666666;
            font-size: 13px;
            margin: 0;
            line-height: 35px; }
            .div-footer .footer-2 .zhen-footer .container-f .middel .ban-quyen a {
              color: #989898;
              text-decoration: none; }
        .div-footer .footer-2 .zhen-footer .container-f .right {
          margin: 0 15px; }
          .div-footer .footer-2 .zhen-footer .container-f .right .social .soc {
            list-style: none; }
            .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li {
              color: #908f8f;
              margin-right: 10px;
              float: left; }
              .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li i {
                font-size: 16px; }
              .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li a {
                color: #fff;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.2);
                height: 35px;
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s ease-out 0s; }
                .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li a._1:hover {
                  background: #3b5998; }
                .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li a._2:hover {
                  background-color: #00acee; }
                .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li a._3:hover {
                  background-color: #ee802f; }
                .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li a._4:hover {
                  background-color: #dd4b39; }
                .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li a._5:hover {
                  background-color: #366184; }
                .div-footer .footer-2 .zhen-footer .container-f .right .social .soc li a._6:hover {
                  background-color: #D62423; }

::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 900; }

.giam-gia {
  padding: 11px 6px;
  line-height: 1;
  position: absolute;
  border-radius: 50%;
  background-color: #F47920;
  color: #fff;
  font-size: 12px;
  right: 9px;
  top: 9px;
  text-transform: uppercase;
  z-index: 9; }
  .giam-gia .ke-tren-duoi {
    font-size: 10px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #fff;
    padding: 2px 2px 3px; }

.left-right {
  color: #999;
  font-size: 18px;
  float: right; }
  .left-right .left, .left-right .right {
    float: left;
    cursor: pointer; }
  .left-right .right {
    margin-left: 15px;
    float: left; }

::-webkit-scrollbar {
  background-color: #111111;
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #111111; }

::-webkit-scrollbar-track {
  background-color: #fff; }

/*# sourceMappingURL=style.css.map */
